.grid{
    margin-top: 100px;
    margin-left: 100px;
    border: 3px solid black;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    height: 40px;
    width: 40px;
}
.ending-block{
    background-color: lightcoral;
}
.starting-block{
    background-color: lightgreen;
}

button{
    height: 40px;
    width: 100px;
    background-color: rgb(126, 165, 237);
    border: 2.5px solid black;
    border-radius: 5px;
    cursor: pointer;;
}

.l1,.l2,.l3{
    background-color: chocolate;
}
.l4,.l5{
    background-color: aqua;
}

.c1{
    background-color: black;
}
.c2,.c3{
    background-color: rgb(184, 184, 184);
}

.frog{
    background-color: green;
}